/* Welcome to Compass. Use this file to write IE specific override styles.
 * Import this file using the following HTML or equivalent:
 * <!--[if IE]>
 *   <link href="/stylesheets/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
 * <![endif]--> */
.lt-ie8 {
    #sectionC {
            min-height:500px;
            height:500px !important;
        .pane {
            //overflow:hidden;
            min-height:500px;
            height:500px !important;
            h2, .home {
                display:none !important;
            }
            &#audio_pane {
            }
        }
        ul#sectionC_menu {
            li#sectionC_menu_audio,
            li#sectionC_menu_share,
            li#sectionC_menu_comment,
            li#sectionC_menu_resources {
                display:none 
            }
        }
    }
    #sectionB {
        .navbar {
            .navbar-inner {
                .nav {
                    a {
                        b.caret {
                            margin-top:5px !important;
                        }
                    } 
                }
            }
        }

    }
}
.hidden {
    display:none !important;
}
.lt-ie9 {
    #column_wrapper {
        background:#fff url(../img/ieBackground.gif) repeat-y 100% 0;
    }
    #sectionB {
        z-index:3000000;
        .navbar {
            .navbar-inner {
                .nav {
                    li {
                        &#bibleVersionsDropDown {
                            ul {
                                border-width:10px !important;
                                width:400px;
                            }
                        }
                        &#bibleBooksDropDown {
                            ul {
                                border-width:10px !important;
                                width:200px;
                                height:300px !important;
                                padding-top:0 !important;
                                margin-top:0 !important;
                                overflow-x:hidden;
                                zoom:1;
                                //background-color:yellow!important;
                                li {
                                    //border:solid 1px red !important;
                                    display:block !important;
                                    position:absolute;
                                    width:100%;
                                    float:left;
                                    height:auto;
                                    a {
                                        display:block !important;
                                        width:100%;
                                        height:30px !important;
                                        //border:solid 1px green !important;
                                    }
                                }
                            }
                        }
                        &#bibleChaptersDropDown {
                            ul {
                                border-width:10px !important;
                                width:180px;
                            }
                        }
                        &#readingPlanDropDown {
                            ul {
                                border-width:10px !important;
                                width:255px;
                                height:80px;
                                overflow:hidden;
                            }
                        }

                    }
                    .dropdown-menu {
                        visibility:visible;
                    }
                }
            }
        }
    }
    #sectionD {
        z-index:1;
        #passage_pager_previous,
        #passage_pager_next {
            margin-top:20px;
        }
    }
}
