<div ng-controller='CommentsCtrl'>
    <div ng-switch on='commentsAvailable'>
        <iframe id='signup' scrolling="no" src='http://www.cbn.com/auth/social/Bible2013Logon.aspx'></iframe>
        <hr />	
        <span ng-switch-when='true'>
            <div ng-include src="'views/commentsPager.html'"></div>
            <span ng-model='comments' ng-repeat='comment in comments'>
                <h3>{{comment.display_name}}</h3><h4>{{comment.friendly_time}}</h4>
                <p> {{comment.comment_text}} <!--<a class='profile_img' href='comment.profile_link'><img src='{{comment.profile_img_src}}'/></a>--></p>
                <hr />
            </span> 
            <div ng-include src="'views/commentsPager.html'"></div>
        </span>
        <span ng-switch-when='false'>
            <span class='loader'>Loading...</span>
        </span>
        <form>
        <textarea ng-model='textarea'></textarea><br />
        <button class='btn' ng-click='submitComment()'>Submit</button>
    </form>
    <hr />
    </div>
</div>
