<div ng-controller='CommentsCtrl'>
    <div ng-switch on='commentsAvailable'>
        <!--<iframe id='signup' scrolling="no" src='http://www.cbn.com/auth/social/Bible2013Logon.aspx'></iframe>-->
        <form>
            <textarea ng-model='textarea' placeholder="Add your comment." ng-class="{disabled:commentsAvailable==false}"></textarea><br />
                <button class='btn' ng-class="{disabled:commentsAvailable==false}" ng-click='submitComment()'>Submit</button>
        </form>
        <?php endif; ?>
        <hr />
        <span>
            <span class='loader'>Loading...</span>
        </span>
        <span id='commentsBox'>
            <!--<div ng-include src="'views/commentsPager.html'"></div>-->
            <span ng-model='comments' ng-repeat='comment in comments'>
                <span class='comment'>
                    <h3>{{comment.display_name}}</h3><h4>{{comment.friendly_time}}</h4>
                    <p>
                    <a class='profile_img' target="_blank" href='{{comment.profile_link}}'><img src='{{comment.profile_img_src}}'/></a>
                        {{comment.comment_text}} 
                        <br /><a href ng-show="comment.can_delete == 'Yes'" comment_id='{{comment.comment_id}}' ng-click="deleteComment(comment.comment_id)">Delete Comment</a></p>
                </span>
                <hr />
            </span> 
            <!--<div ng-include src="'views/commentsPager.html'"></div>-->
        </div>
    </div>
</div>
