<div id='sectionB'>
    <div class='navbar'>
        <div class='navbar-inner'>
            <div class='container'>
                <input id='readingPlanDatePicker' ui-date ng-change='change()' type='hidden' ng-model='date' class='nav' />
                <ul class='nav'> 
                    <li id='datePickerDropDown' class='dropdown'><a my-datepicker href='#' ng-click='showDatePicker()' class='dropdown-toggle' ui-date ng-model='date' data-toggle='dropdown'>{{date | date: 'mediumDate'}} <b class='caret'></b></a></li>
                    <li id='readingPlanDropDown' class='dropdown'><a href='#' class='dropdown-toggle' data-toggle='dropdown'>{{plan}} <b class='caret'></b></a>
                        <ul class='dropdown-menu' ng-model='plans'><li ng-repeat='plan in plans'><a href ng-click='planClick($index)'>{{plan}}</a></li></ul>
                </li>
            </ul>
            <ul>
                <li id='readingPlanPrevious'>
                    <a href id='previous' ng-click='previous()'>Previous</a>
                </li>
                <li id='readingPlanNext'>
                    <a href id='next' ng-click='next()'>Next</a></div>
            </li>
        </ul>
        </div>
    </div>
</div>
</div>
<div id='sectionD'>
    <h1>Reading Plan</h1>
    <h2>{{DevotionTitle}}</h2>
    <span>Read today's devotion: <a target="_blank" href='{{DevotionURL}}'>{{DevotionTitle}}</a></span>
    <span ng-repeat='r in result'>
        <span ng-repeat='v in r'>
            <h2>{{v.title}}</h2>
            <span ng-repeat='p in v.passage'>
                <sup>{{p.Verse}}</sup> <span ng-bind-html-unsafe='p.VerseText'></span>
            </span>
        </span>
    </span>
</div>
