$white: #ffffff;
$grey: #b2b0ac;
$light-grey: #cac4bc;
$dark-grey: #6f6366;
$medium-grey: #b7acac;
$smoke-grey: #9e9693;
$player-background: #373737;
$sectionB-down-background: #b9b9b9;
// text elements
h1, h3, h4, p, li, .label{
    color:$dark-grey
}
h2, .h2 {
    color:$dark-grey
}
.icon, .input {
    color:$grey
}
.button {
    color:$white
}
.copyright {
    color:$smoke-grey
}
.passage-copyright {
    color:$light-grey
}
// layout elements
// override twitter bootstrap colors
/*.navbar {
    margin-bottom:0;
    .nav {
        li {
            a {
                color:#fff;
                text-shadow:none
            }
        }
    }
}*/
#sectionB {
	input {
		background:transparent;
		color:#000;
		border:0;
		font-size:15px;
        color:$white;
        margin-left:10px;
	}
}
#sectionC {
    .panes {
        .pane {
            &#search_pane {
                a {
                    color:$dark-grey;
                }
            }
        }
    }
}
#sectionD {
    #passage {
        blockquote {
            small {
                color:$dark-grey;
            }
        }
    }
}
.navbar-inner {
	background:transparent;
	border:0;
	height:36px;
    min-height:36px;
	.nav {
		height:36px;
		li {
			height:36px;
			a {
                height:36px;
                line-height:36px;
				&.dropdown-toggle {
                    padding-top:0;
                    padding-bottom:0;
                    b.caret {
                        margin-top:15px;
                    }
				}
			}
		}
	}
}

li {
    &.dropdown {

        a {
            text-shadow:none!important;
            &.dropdown-toggle {
                color:#fff;
                &:hover {
                    color:#fff;
                    .caret {
                    }
                }
            }
            .caret {
                border-top-color:#fff!important;
                border-bottom-color:#fff!important
            }
            ul {
                &.dropdown-menu {
                    border:solid 20px #555;
                    li {
                        a {
                            color:#fff;
                        }
                    }
                }
            }
        }
        &.open {
            a {
                &.dropdown-toggle {
                }
            }
        }
    }
}
hr {
    color:$dark-grey;
    background-color:$dark-grey;
    height:1px;
    padding:0;
    margin:0;
}
