#wrapper {
    #sectionC {
        .panes {
            position:absolute;
            width:10000px;
        }
        .pane {
            width:336px;
            height:300px;
            float:left;
            a.home {
                display:block;
                width:30px;
                height:30px;
                float:left;
                text-indent:-3000em;
                overflow:hidden;
                background:url(../img/sprites.png) no-repeat 0 -36px;
                margin-left:20px;
                margin-right:20px;
            }
            h2 {
                float:left;
                margin:0;
                padding:0;
                line-height:30px;
            }
            //display:none;
            // &.on {
            //     display:block;
            // }
            &#bible_pane {
                h2,
                a.home {
                    display:none; //
                }
            }
        }
        ul#sectionC_menu {
            list-style:none;
            li {
                display:block;
                width:127px;
                height:129px;
                text-align:center;
                float:left;
                margin-right:20px;
                a {
                    display:block;
                    width:100%;
                    height:129px;
                    color:#b2b0ac;
                    text-transform:uppercase;
                    text-decoration:none;
                    text-align:center;

                    span {
                        display:block;
                        width:77px;
                        height:77px;
                        margin:0 auto;
                        background-image:url(../img/sprites.png);
                        background-repeat:no-repeat;                        
                    }
                }
                &#sectionC_menu_bible:hover a span {
                    background-position:-232px 0px
                }
                &#sectionC_menu_reading-plan:hover a span {
                    background-position:-309px 0px
                }
                &#sectionC_menu_audio:hover a span {
                    background-position:-386px 0px
                }
                &#sectionC_menu_share:hover a span {
                    background-position:-463px 0px
                }
                &#sectionC_menu_comment:hover a span {
                    background-position:-540px 0px
                }
                &#sectionC_menu_resources:hover a span {
                    background-position:-617px 0px
                }
                &#sectionC_menu_bible:hover a {
                    color:#9A9895;
                }
                &#sectionC_menu_reading-plan:hover a {
                    color:#9A9895;
                }
                &#sectionC_menu_audio:hover a {
                    color:#9A9895;
                }
                &#sectionC_menu_share:hover a {
                    color:#9A9895;
                }
                &#sectionC_menu_comment:hover a {
                    color:#9A9895;
                }
                &#sectionC_menu_resources:hover a {
                    color:#9A9895;
                }
                &#sectionC_menu_bible a span {
                    background-position:-232px -154px
                }
                &#sectionC_menu_reading-plan a span {
                    background-position:-309px -154px
                }
                &#sectionC_menu_audio a span {
                    background-position:-386px -154px
                }
                &#sectionC_menu_share a span {
                    background-position:-463px -154px
                }
                &#sectionC_menu_comment a span {
                    background-position:-540px -154px
                }
                &#sectionC_menu_resources a span {
                    background-position:-617px -154px
                }
                &#sectionC_menu_bible.on a span {
                    background-position:-232px -77px
                }
                &#sectionC_menu_reading-plan.on a span {
                    background-position:-309px -77px
                }
                &#sectionC_menu_bible.on a {
                    color:#f36d4f;
                }
                &#sectionC_menu_reading-plan.on a {
                    color:#f36d4f;
                }

                /*&#sectionC_menu_audio.on a span {
                    background-position:-386px -77px
                }
                &#sectionC_menu_share.on a span {
                    background-position:-463px -77px
                }
                &#sectionC_menu_comment.on a span {
                    background-position:-540px -77px
                }
                &#sectionC_menu_resources.on a span {
                    background-position:-617px -77px
                }*/ 
            }
        }
    }
}

