#logon {
    body {
        background:transparent !important;
        text-align:left;
        padding:0 20px;
    }
}
#register {
    body {
        background:transparent !important;
        text-align:left;
        padding:0 20px;
    }
}
