#logon {
    body {
        background:transparent !important;
        text-align:left;
        padding:0 20px;
    }
    p {
        padding:20px 0 0 0 !important;
    }
}
#register {
    body {
        background:transparent !important;
        text-align:left;
        padding:0 20px;
    }

}
input#LogonEmail, input#LogonPassword {
    height:30px !important;
}
input#RememberMeCB {
    float:left;
    margin-right:5px;
}
