#logon {
    * {
        margin:0;
        padding:0;
    }
    body {
        background:transparent !important;
        text-align:left;
        padding:0 20px;
    }
}
#register {
    * {
        margin:0;
        padding:0;
    }
    body {
        background:transparent !important;
        text-align:left;
        padding:0 20px;
    }
}
