/* Welcome to Compass. Use this file to write IE specific override styles.
 * Import this file using the following HTML or equivalent:
 * <!--[if IE]>
 *   <link href="/stylesheets/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
 * <![endif]--> */
/* line 11, ../sass/ie.scss */
.lt-ie8 #sectionC .pane h2, .lt-ie8 #sectionC .pane .home {
  display: none !important;
}
/* line 21, ../sass/ie.scss */
.lt-ie8 #sectionC ul#sectionC_menu li#sectionC_menu_audio,
.lt-ie8 #sectionC ul#sectionC_menu li#sectionC_menu_share,
.lt-ie8 #sectionC ul#sectionC_menu li#sectionC_menu_comment,
.lt-ie8 #sectionC ul#sectionC_menu li#sectionC_menu_resources {
  display: none;
}
/* line 31, ../sass/ie.scss */
.lt-ie8 #sectionB .navbar .navbar-inner .nav a b.caret {
  margin-top: 5px !important;
}

/* line 41, ../sass/ie.scss */
.hidden {
  display: none !important;
}

/* line 45, ../sass/ie.scss */
.lt-ie9 #column_wrapper {
  background: white url(../img/ieBackground.gif) repeat-y 100% 0;
}
/* line 48, ../sass/ie.scss */
.lt-ie9 #sectionB {
  z-index: 3000000;
}
/* line 55, ../sass/ie.scss */
.lt-ie9 #sectionB .navbar .navbar-inner .nav li#bibleVersionsDropDown ul {
  border-width: 10px !important;
  width: 400px;
}
/* line 61, ../sass/ie.scss */
.lt-ie9 #sectionB .navbar .navbar-inner .nav li#bibleBooksDropDown ul {
  border-width: 10px !important;
  width: 200px;
  height: 300px !important;
  padding-top: 0 !important;
  margin-top: 0 !important;
}
/* line 70, ../sass/ie.scss */
.lt-ie9 #sectionB .navbar .navbar-inner .nav li#bibleChaptersDropDown ul {
  border-width: 10px !important;
  width: 180px;
}
/* line 76, ../sass/ie.scss */
.lt-ie9 #sectionB .navbar .navbar-inner .nav li#readingPlanDropDown ul {
  border-width: 10px !important;
  width: 255px;
  height: 80px;
  overflow: hidden;
}
/* line 85, ../sass/ie.scss */
.lt-ie9 #sectionB .navbar .navbar-inner .nav .dropdown-menu {
  visibility: visible;
}
/* line 92, ../sass/ie.scss */
.lt-ie9 #sectionD {
  z-index: 1;
}
/* line 95, ../sass/ie.scss */
.lt-ie9 #sectionD #passage_pager_previous,
.lt-ie9 #sectionD #passage_pager_next {
  margin-top: 20px;
}
